 <!-- Info Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Employment opportunities</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        Master’s graduates will acquire a high level of technical knowledge within the fields of bioinformatics and basic and industrial research, as well as analytical skills normally required in Data Science. These skills may be applied in a variety of sectors, such as Biotechnology and Pharmaceuticals.
                    </p>
                </div>
            </div>
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Admission requirements</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
The programme caters to those with a second cycle degree (laurea magistrale) or long single cycle degree (laurea magistrale a ciclo unico) in one of the following classes of former Ministerial Decree 270/2004, or in one of the corresponding classes of former Ministerial Decree 509/99:
<ul style="list-style-type:none">
<li>LM-6 Biology</li>
<li>LM-07 Biotecnologie Agrarie</li>
<li>LM-8 Industrial biotechnology</li>
<li>LM-9 Pharmaceutical, veterinary and medical biotechnologies</li>
<li>LM-13 Pharmacy and industrial pharmacy</li>
<li>LM-17 Fisica</li>
<li>LM-18 Informatica</li>
<li>LM-21 Ingegneria Biomedica</li>
<li>LM-29 Ingegneria Elettronica</li>
<li>LM-32 Ingegneria Informatica</li>
<li>LM-40 Matematica</li>
<li>LM-41 Medicine and surgery</li>
<li>LM-44 Modellistica Matematico-Fisica per l’Ingegneria</li>
<li>LM-54 Scienze Chimiche</li>
<li>LM-60 Scienze della Natura</li>
<li>LM-69 Scienze e Tecnologie Agrarie</li>
</ul>

                    </p>
                </div>
            </div>

           <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Selection process</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
Admission to the programme is through an interview aimed at ascertaining the candidate’s knowledge of English and of the topics addressed by the Master’s programme, and through CV assessment.
Evaluation criteria:
<ul style="list-style-type:none">
<li>Interview: 80%</li>
<li>CV assessment: 20% (the following will be considered: final degree examination mark up to 10 points; scientific publications up to 3 points; professional experience up to 2 points; max 5 point based on years elapsed from graduation year).</li>
</ul>
Candidates must score at least 60/100 for admission.
                    </p>
                </div>
            </div>
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Programme organization</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
The programme entails lectures and other forms of training, such as computational tools, data analysis and applications, for a total of 512 hours. Lectures will take place for 3 days a week for a total or 6/8 hours a day.
                    </p>
                    <p>
                        Lectures and other form of training (Labs) will start March TDBth 2023 till the end of September 2023. The traineeship will begin October 1st and will end January TDBth 2024.
                    </p>
                    <p>
                        <i>Both the class and traineeship require mandatory attendace.</i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Important Dates</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                    <ul  style="list-style-type:none">
                        <li>
                          10am on TDB February 2023 
                        </li>
                        <li>
                         TDB March 2023
                        </li>
                        <li>
                        TDB January 2024 
                      </li>
                  </ul> 
                </div>
                <div class="col-lg-3">
                    <ul  style="list-style-type:none">
                        <li>
                          SELECTION process 
                        </li>
                        <li>
                         The Master will start
                        </li>
                        <li>
                        The Master will finish 
                      </li>
                  </ul> 
                </div>
                <div class="col-lg-3 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Both selection and programme will be help at <a href="https://www.ifom.eu/en/cancer-research/research-labs/research-lab-pagani.php" class="btn-outline">IFOM</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>For all the details please visit the official UniMi web site <a href="http://www.unimi.it/studenti/master/114483.htm" class="btn-outline"><i>Bioinformatics and Functional Genomics</i></a> of the master.
                    </p>
                    <p> Or <a href="http://www.unimi.it/cataloghi/master/Master_secondo_semestre_2017_2018_English.pdf" class="btn-outline">download the pdf</a></p> 
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Calendar</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        Coming soon...
                    </p>
                </div>
            </div> 
        </div>
    </section>
